section{
    display: flex;
    background-color:lavender;
}
body {
    background-color:lavender;
  }
.container{
    width: 700px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 20px black;
    margin: 250px 500px;
}
h1{
    text-align: center;
}
.step{
display: none;
}
.step.active{
    display: block;
}
.form-control{
    width: 100%;
    margin-top: 20px;
}
.form-control input[type=radio] {
    width: 16px;
  }
.form-control input,
.form-control select{
    width: 95%;
    border: 1.5px solid black;
    padding: 5px;
    font-size: 18px;
    margin: 5px;
    border-radius: 4px;
}
button.next-btn,
button.previous-btn,
button.submit-btn{
    float: right;
    margin-top: 20px;
    padding: 10px 30px;
    background-color: lightcoral;
    font-size: 19px;
    cursor: pointer;
}
button.previous-btn{
    float: left;   
}
button.submit-btn{
    background-color: green;
}
small {
    color: red;
  }
